.icon-entidade {
    width: 80%;
    height: 80%;
    object-fit: contain;
    transition: all 0.1s ease-in-out; 
}

/* Aplicado apenas quando a entidade tem genero === 'F' */
.estilo-femea {
    transform: scaleX(-1); /* Espelha a imagem para olhar para a esquerda */
    filter: invert(100%);  /* Inverte a cor (preto vira branco) */
}